{ config, pkgs, ... }:
{
  services.openssh = {
    enable = false;
    forwardX11 = true;
  };
  users.extraUsers.user.hashedPassword = "HASHED_PASSWORD";
  users.extraUsers.user.openssh.authorizedKeys.keys = [
  ];
}
